<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>index</title>
    <link rel="shortcut icon" sizes="144x144" href="assets/images/favicon.png">
    <!--android及pc系统添加到webApp的icon -->
    <link rel="apple-touch-icon" href="assets/images/favicon.png">
    <!-- ios系统添加到webApp的icon -->
    <link type="image/x-icon" href="assets/images/favicon.png" rel="shortcut icon" />
    <script type="text/javascript" src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script><!--ignore--> 
    <!--RESOURCEMAP_PLACEHOLDER--> 
    <link rel="stylesheet" href="./assets/scss/reset.scss" />
</head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>
    <script type="text/javascript" src="./components/main.js"></script>
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fdafa5b6f1421186b22c564180031bfd2' type='text/javascript'%3E%3C/script%3E"));
        document.write(unescape("%3Cscript src='http://s122.cnzz.com/stat.php?id=547230&amp;web_id=547230&amp;show=pic' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>

</html>
