<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>view - <%= viewName %></title>
	<link type="image/x-icon" href="../../assets/images/favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" type="text/css" href="./<%= viewName %>.scss">

	
</head>
<body>
    {{!-- {{> cmpName}} --}}
</body>
<script type="text/javascript" src="../../libs/common.js"></script>
<script type="text/javascript" src="./<%= viewName %>.js"></script>

</html>