
<link rel="stylesheet" type="text/css" href="./index.scss">
<h1 class="index">我是首页 </h1>
<h1>{{userInfo.uname}}:{{dynamic.time}}:{{dynamic.star}}</h1>
{{> header/header}}

<script type="text/javascript" src="../libs/common.js"></script>
<script type="text/javascript" src="./index.js"></script>
<script type="text/javascript" src="../libs/statistics.js"></script>
