	body {
		line-height: 1.4em;
		font-size: 16px;
		color: #333;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		text-size-adjust: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	}
	
	html,
	body,
	span,
	div,
	p,
	a,
	table,
	tbody,
	td,
	h1,
	h2,
	h3,
	img,
	form,
	font,
	strong,
	b,
	i,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	dl,
	dd,
	dt,
	iframe,
	label,
	blockquote,
	input,
	em,
	dfn,
	button {
		padding: 0;
		margin: 0;
		list-style: none;
		font-style: normal
	}
	html,body {
		width: 100%;
		height: 100%;
	}
	
	img {
		vertical-align: middle;
		border: 0
	}
	
	header,
	nav,
	footer,
	section,
	article,
	aside {
		display: block
	}
	
	button,
	input,
	select,
	textarea {
		font-size: 100%;
		font-family: inherit
	}
	
	a:link,
	a:visited,
	a:hover,
	a:active {
		text-decoration: none
	}
	
	.fn-hide {
		display: none
	}

	