.index {
    h1 {
        font-size: dpr(34px);
        line-height: rem(160px);
        color: $red;
        opacity: 0.9;
        @include line-gradient(100%, rem(160px));
    }
    p {
        height: rem(160px);
        background: url('../../../assets/images/favicon.ico') no-repeat;

    }
    img {
        height: rem(100px);
    }
}
