@import './reset.css';

@mixin pie-radius($px){
    border-radius: $px;
    -ms-behavior: url(/PIE.htc);
    behavior: url(/PIE.htc);
    // position: relative;
    // z-index:2;
}

@mixin bgsize($a){
    background-size: $a;
    -ms-behavior: url(/backgroundsize.min.htc);
    behavior: url(/backgroundsize.min.htc);
}
@mixin opacity($a) {
    filter:alpha(opacity=$a*100);
     -moz-opacity:$a;
     -khtml-opacity: $a;
     opacity: $a;
}

@mixin boxShadow($a...) {
    box-shadow: $a;
    -webkit-box-shadow: $a;
    -o-box-shadow: $a;
    -ms-box-shadow: $a;
    -moz-box-shadow: $a;
}

@mixin bgGradient($b, $e) {
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=$b, endColorStr=$e);
    /*IE 6 7 8*/
    background: -ms-linear-gradient(top, $b, $e);
    /* IE 10 */
    background: -moz-linear-gradient(top, $b, $e);
    /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($b), to($e));
    /*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($b), to($e));
    /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, $b, $e);
    /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, $b, $e);
    /*Opera 11.10+*/
}

.fl{
	float: left;
}
.fr {
	float: right;
}
.clear {
	zoom: 1;
}
.clear:after {
	display: block;
	clear: both;
	content: '';
}

